/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;  /* Đảm bảo chiều cao của body chiếm toàn bộ chiều cao màn hình */
}

body {
    display: flex;
    flex-direction: column;  /* Chia các phần tử theo chiều dọc */
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex: 1;  /* Nội dung chính chiếm hết không gian còn lại */
    justify-content: space-between;
    padding: 20px;
}

.left, .right {
    width: 45%;  /* Cả 2 cột có chiều rộng là 45% */
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.footer {
    background-color: #a00b0b;
    text-align: center;
    padding: 10px;
}

